<!DOCTYPE html>
<html lang="en">
<head>
  <title>Todo</title>
</head>
<body>
  <h1>Todo Listesi</h1>
  <p>Merhaba EJS!</p>

  <%
    console.log('hello world')
    console.log('another line')
  %>

  <%= 5+9 %>
  <%= '<p>Selam <b>dunyali</b></p>' %>

  <%- '<p>Selam <b>dunyali</b></p>' %>

  <%# bu bir yorum %>

</body>
</html>